body {
    background-color: darkblue;
}

.card-container:active .card{
    transform: rotateY(180deg);
}
.card-container, .front, .back {
    border-radius: 10px 10px;
    width: 70vw;
    height: 50vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    transition: 0.5s;
    transform-style: preserve-3d;
}

.front {
    z-index: 5;
}

.back {
    transform: rotateY(180deg);
}

.front, .back{
    background-color: bisque;
    backface-visibility: hidden;
    border:4px solid black;
    border-radius:10px 10px;
    margin:auto;
    text-align:center;
      position: absolute;
      top: 0;
      left: 0;
    
  }
  
.english, .foreign{
    padding-top:30%;
    font-size:40pt;
  }
  